[tool.poetry]
name = "nshrunner"
version = "0.12.0"
description = ""
authors = ["Nima Shoghi <nimashoghi@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
tqdm = { version = "*", optional = true }
typing-extensions = "*"
cloudpickle = "*"
deepmerge = "*"
nshconfig = "*"
nshutils = "*"

[tool.poetry.scripts]
nshrunner-picklerunner = "nshrunner.picklerunner.main:main"

[tool.poetry.group.dev.dependencies]
ruff = "^0.5.4"
ipykernel = "^6.29.5"
ipywidgets = "^8.1.3"
pyright = "^1.1.372"
pysnooper = "^1.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
typeCheckingMode = "standard"
deprecateTypingAliases = true
strictListInference = true
strictDictionaryInference = true
strictSetInference = true
reportPrivateImportUsage = false

[tool.ruff.lint]
ignore = ["F722", "F821", "E731", "E741"]
